<a href="https://colab.research.google.com/github/Jiya-786/Statistics_notes/blob/main/Statistics_notes/TUT/TUT-2/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

import numpy as np
print(f"check pandas version: {pd.__version__}")

check pandas version: 2.2.2

In [3]:
#creating dataframe
data = {
    'Student_ID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah'],
    'Age': [20, 21, 19, 22, 20, 23, 19, 21],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F'],
    'Midterm_Score': [85, 78, 92, 60, 88, np.nan, 95, 82],
    'Final_Score': [90, 80, 85, 65, 92, 70, 98, 85],
    'Attendance_Rate': [0.95, 0.80, 0.90, 0.60, 0.95, 0.50, 1.00, 0.85]
}

df=pd.DataFrame(data)
df

,Student_ID,Name,Age,Gender,Midterm_Score,Final_Score,Attendance_Rate
0,101,Alice,20,F,85.0,90,0.95
1,102,Bob,21,M,78.0,80,0.80
2,103,Charlie,19,M,92.0,85,0.90
3,104,David,22,M,60.0,65,0.60
4,105,Eva,20,F,88.0,92,0.95
5,106,Frank,23,M,NaN,70,0.50
6,107,Grace,19,F,95.0,98,1.00
7,108,Hannah,21,F,82.0,85,0.85

In [4]:
#creating dataframe
data = {
    'Student_ID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah'],
    'Age': [20, 21, 19, 22, 20, 23, 19, 21],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F'],
    'Midterm_Score': [85, 78, 92, 60, 88, np.nan, 95, 82],
    'Final_Score': [90, 80, 85, 65, 92, 70, 98, 85],
    'Attendance_Rate': [0.95, 0.80, 0.90, 0.60, 0.95, 0.50, 1.00, 0.85]
}

df=pd.DataFrame(data)
df

,Student_ID,Name,Age,Gender,Midterm_Score,Final_Score,Attendance_Rate
0,101,Alice,20,F,85.0,90,0.95
1,102,Bob,21,M,78.0,80,0.80
2,103,Charlie,19,M,92.0,85,0.90
3,104,David,22,M,60.0,65,0.60
4,105,Eva,20,F,88.0,92,0.95
5,106,Frank,23,M,NaN,70,0.50
6,107,Grace,19,F,95.0,98,1.00
7,108,Hannah,21,F,82.0,85,0.85

In [10]:
#inspecting data
print("First 5 rows: \n")
display(df.head())               #it is by default 5 ir prints first 5 rows

print("Dataframe info: \n")
display(df.info())               # writing display is optional

print("Dataframe summary: \n")
df.describe()

print("Datafram shape: \n")
df.shape

First 5 rows:

,Student_ID,Name,Age,Gender,Midterm_Score,Final_Score,Attendance_Rate
0,101,Alice,20,F,85.0,90,0.95
1,102,Bob,21,M,78.0,80,0.80
2,103,Charlie,19,M,92.0,85,0.90
3,104,David,22,M,60.0,65,0.60
4,105,Eva,20,F,88.0,92,0.95

Dataframe info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Student_ID       8 non-null      int64
 1   Name             8 non-null      object
 2   Age              8 non-null      int64
 3   Gender           8 non-null      object
 4   Midterm_Score    7 non-null      float64
 5   Final_Score      8 non-null      int64
 6   Attendance_Rate  8 non-null      float64
dtypes: float64(2), int64(3), object(2)
memory usage: 580.0+ bytes

None

Dataframe summary:

Datafram shape:

(8, 7)

In [11]:
#indexing and selection
#two primary ways .loc() -> label-based -> select by column name or row label
# and .iloc() -> integer-based -> select by index position (0 to length-1)

ages=df['Ages']

KeyError: 'Ages'