<a href="https://colab.research.google.com/github/Jiya-786/Statistics_notes/blob/main/TUT/TUT-2/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

import numpy as np
print(f"check pandas version: {pd.__version__}")

check pandas version: 2.2.2

In [2]:
#creating dataframe
data = {
    'Student_ID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah'],
    'Age': [20, 21, 19, 22, 20, 23, 19, 21],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F'],
    'Midterm_Score': [85, 78, 92, 60, 88, np.nan, 95, 82],
    'Final_Score': [90, 80, 85, 65, 92, 70, 98, 85],
    'Attendance_Rate': [0.95, 0.80, 0.90, 0.60, 0.95, 0.50, 1.00, 0.85]
}

df=pd.DataFrame(data)
df

,Student_ID,Name,Age,Gender,Midterm_Score,Final_Score,Attendance_Rate
0,101,Alice,20,F,85.0,90,0.95
1,102,Bob,21,M,78.0,80,0.80
2,103,Charlie,19,M,92.0,85,0.90
3,104,David,22,M,60.0,65,0.60
4,105,Eva,20,F,88.0,92,0.95
5,106,Frank,23,M,NaN,70,0.50
6,107,Grace,19,F,95.0,98,1.00
7,108,Hannah,21,F,82.0,85,0.85

In [3]:
#creating dataframe
data = {
    'Student_ID': [101, 102, 103, 104, 105, 106, 107, 108],
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Frank', 'Grace', 'Hannah'],
    'Age': [20, 21, 19, 22, 20, 23, 19, 21],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F'],
    'Midterm_Score': [85, 78, 92, 60, 88, np.nan, 95, 82],
    'Final_Score': [90, 80, 85, 65, 92, 70, 98, 85],
    'Attendance_Rate': [0.95, 0.80, 0.90, 0.60, 0.95, 0.50, 1.00, 0.85]
}

df=pd.DataFrame(data)
df

,Student_ID,Name,Age,Gender,Midterm_Score,Final_Score,Attendance_Rate
0,101,Alice,20,F,85.0,90,0.95
1,102,Bob,21,M,78.0,80,0.80
2,103,Charlie,19,M,92.0,85,0.90
3,104,David,22,M,60.0,65,0.60
4,105,Eva,20,F,88.0,92,0.95
5,106,Frank,23,M,NaN,70,0.50
6,107,Grace,19,F,95.0,98,1.00
7,108,Hannah,21,F,82.0,85,0.85

In [4]:
#inspecting data
print("First 5 rows: \n")
display(df.head())               # it is by default 5. it prints first 5 rows

print("Dataframe info: \n")
display(df.info())               # writing display is optional

print("Dataframe summary: \n")
df.describe()

print("Dataframe shape: \n")
df.shape

First 5 rows:

,Student_ID,Name,Age,Gender,Midterm_Score,Final_Score,Attendance_Rate
0,101,Alice,20,F,85.0,90,0.95
1,102,Bob,21,M,78.0,80,0.80
2,103,Charlie,19,M,92.0,85,0.90
3,104,David,22,M,60.0,65,0.60
4,105,Eva,20,F,88.0,92,0.95

Dataframe info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Student_ID       8 non-null      int64
 1   Name             8 non-null      object
 2   Age              8 non-null      int64
 3   Gender           8 non-null      object
 4   Midterm_Score    7 non-null      float64
 5   Final_Score      8 non-null      int64
 6   Attendance_Rate  8 non-null      float64
dtypes: float64(2), int64(3), object(2)
memory usage: 580.0+ bytes

None

Dataframe summary:

Dataframe shape:

(8, 7)

In [5]:
#indexing and selection
#two primary ways .loc() -> label-based -> select by column name or row label
# and .iloc() -> integer-based -> select by index position (0 to length-1)

ages=df['Age']
print("---Age column---")
print(ages.head(3))

scores=df[['Name','Midterm_Score','Final_Score']]
print("\n---Name and Scores---")
display(scores.head(3))

print("\n---using .loc---")
display(df.loc[0:2,['Name','Attendance_Rate']])

print("\n---using .iloc()---")
display(df.iloc[0:3,0:3])

---Age column---
0    20
1    21
2    19
Name: Age, dtype: int64

---Name and Scores---

      Name  Midterm_Score  Final_Score
0    Alice           85.0           90
1      Bob           78.0           80
2  Charlie           92.0           85

---using .loc---

      Name  Attendance_Rate
0    Alice             0.95
1      Bob             0.80
2  Charlie             0.90

---using .iloc()---

   Student_ID     Name  Age
0         101    Alice   20
1         102      Bob   21
2         103  Charlie   19

In [6]:
older_students=df[df['Age']>20]
print("---Older Students---")
display(older_students)

high_scoring_females=df[(df['Gender']=='F') & (df['Final_Score']>85)]
print("---Highi scoring female students---")
display(high_scoring_females)

---Older Students---

   Student_ID    Name  Age Gender  Midterm_Score  Final_Score  Attendance_Rate
1         102     Bob   21      M           78.0           80             0.80
3         104   David   22      M           60.0           65             0.60
5         106   Frank   23      M            NaN           70             0.50
7         108  Hannah   21      F           82.0           85             0.85

---Highi scoring female students---

   Student_ID   Name  Age Gender  Midterm_Score  Final_Score  Attendance_Rate
0         101  Alice   20      F           85.0           90             0.95
4         105    Eva   20      F           88.0           92             0.95
6         107  Grace   19      F           95.0           98             1.00

In [7]:
# data cleaning
print("Missing values per column:")
print(df.isnull().sum())

df_dropped=df.dropna()
print(f"\nShape after dropping NaNs: {df_dropped.shape}")

midterm_mean=df['Midterm_Score'].mean()
df['Midterm_Score']=df['Midterm_Score'].fillna(midterm_mean)

print("\nData after filling NaNs: ")
display(df)

Missing values per column:
Student_ID         0
Name               0
Age                0
Gender             0
Midterm_Score      1
Final_Score        0
Attendance_Rate    0
dtype: int64

Shape after dropping NaNs: (7, 7)

Data after filling NaNs:

,Student_ID,Name,Age,Gender,Midterm_Score,Final_Score,Attendance_Rate
0,101,Alice,20,F,85.000000,90,0.95
1,102,Bob,21,M,78.000000,80,0.80
2,103,Charlie,19,M,92.000000,85,0.90
3,104,David,22,M,60.000000,65,0.60
4,105,Eva,20,F,88.000000,92,0.95
5,106,Frank,23,M,82.857143,70,0.50
6,107,Grace,19,F,95.000000,98,1.00
7,108,Hannah,21,F,82.000000,85,0.85

In [9]:
#creating new columns
df['Total_Score']=df['Midterm_Score']+df['Final_Score']

df['Passed']=np.where(df['Total_Score'] >= 150, 'Yes', 'No')
display(df[['Name','Total_Score','Passed']])

      Name  Total_Score Passed
0    Alice   175.000000    Yes
1      Bob   158.000000    Yes
2  Charlie   177.000000    Yes
3    David   125.000000     No
4      Eva   180.000000    Yes
5    Frank   152.857143    Yes
6    Grace   193.000000    Yes
7   Hannah   167.000000    Yes

In [10]:
# grouping and aggregation

# This is critical for statistical analysis. We use .groupby() to split the data into groups
# and apply a function (mean, sum, count) to each group.
# We can also check the Correlation Matrix to see relationships between variables.

gender_group = df.groupby('Gender')[['Midterm_Score', 'Final_Score', 'Attendance_Rate']].mean()
print("--- Average Scores by Gender ---")
display(gender_group)

print("\n--- Pass/Fail Count ---")
print(df['Passed'].value_counts())

print("\n--- Correlation Matrix ---")
correlation = df[['Age', 'Midterm_Score', 'Final_Score', 'Attendance_Rate']].corr()
display(correlation)

--- Average Scores by Gender ---

        Midterm_Score  Final_Score  Attendance_Rate
Gender
F           87.500000        91.25           0.9375
M           78.214286        75.00           0.7000

--- Pass/Fail Count ---
Passed
Yes    7
No     1
Name: count, dtype: int64

--- Correlation Matrix ---

                      Age  Midterm_Score  Final_Score  Attendance_Rate
Age              1.000000      -0.686384    -0.854670        -0.930957
Midterm_Score   -0.686384       1.000000     0.820184         0.664952
Final_Score     -0.854670       0.820184     1.000000         0.945563
Attendance_Rate -0.930957       0.664952     0.945563         1.000000

In [ ]:
# saving the data